* {
	font-family: sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
button {
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
}

input {
	display: block;
	margin-bottom: 20px;
	max-width: 200px;
	width: 100%;
}

button {
	border: 1px solid gray;
	background: whitesmoke;
	margin-right: 5px;
}

button:nth-last-child(2),
button:nth-last-child(1) {
	background: tomato;
	color: white;
}

button:hover {
	background-color: #4a53cc;
	color: #ffffff;
	transform: scale(1.05);
	transition: all 0.5s;
	cursor: pointer;
}

button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
	background: #d3381d;
}

.sectionButton {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 250px;
	margin: 5px;
}

p {
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

span {
	padding: 3px;
	border: 1px dotted #4a53cc;
}